.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.fade {
  animation: fade-in-keyframes 3s;
}
@keyframes fade-in-keyframes {
  from {opacity: 0}
  to {opacity: 1}
}
.invisible{
  display: none;
}
.chatPanel{
  height: 200px;
  overflow-y:scroll;
  text-align: left;
  padding: 10px;
}
.chatPanelParagraph{
  margin: 0 0 0px;
}
.popupDiv{
  width: 100%;
  height: 80%;
  overflow-y: auto;
}
